.container {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #fff;
  padding: 16px;
}
#printerSelect {
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
}